.nav-link{
    text-decoration: none;
}

.nav-link:after{
   content: "";
   position: absolute;
   background-color: #060047;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -10px;
  
}
.nav-link:hover{
    color: black;

}
.nav-link:hover:after{
    width: 100%;
}